<!DOCTYPE html>
<html lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">    
    <link rel="stylesheet" href="/css/bulma.css">
    <link rel="stylesheet" href="/font/css/all.css">    
    <title>Games | <%= title %></title>
</head>

<body>

    <section class="hero is-link">
        <a href="/">
            <div class="hero-body has-text-centered">            
                <p class="title">
                    <i class="fa-solid fa-trophy fa-2x" style="color: var(--bulma-warning);"></i> <%= app %>
                </p>
                <p class="subtitle"><%= description %></p>
            </div>
        </a>
    </section>