<%- include("./partials/header"); %>

<div class="container is-max-tablet my-6">
    <div class="box has-text-centered">
        <div class="title">Page Not Found - 404</div>
        <div>
            <i class="fa-solid fa-trophy fa-5x has-text-danger"></i>
        </div>
        <p class="has-text-weight-bold is-size-5 my-3">
            It seems the page or content you tried to access doesn't exist
        </p>
        <p class="has-text-weight-bold is-size-6 my-3">
            Try another page or return to the homepage
        </p>
        <a href="/">
            <i class="fa-solid fa-home fa-2x has-text-link"></i>
        </a>        
    </div>
</div>

<%- include("./partials/footer"); %>